.ex-1-square:hover{
  background-color: red;
}

.ex-2-square:active{
  width: 100%;
}

.ex-3-square:hover{
  border-radius: 50%;
}

.ex-4-square:hover{
  opacity: 0;
}

.ex-5-square:hover{
  transform: scale(2);
}

.ex-5-square:active{
  transform: scale(0.5);
}

.ex-6-img:hover, .ex-7-img:hover, .ex-8-img:hover , .ex-9-img:hover{
  filter: grayscale(1);
}

.ex-8-img:hover, .ex-9-img:hover{
  filter: contrast(0.5);
  border-radius: 15px;
}

.ex-9-img:hover{
  transform: scale(1.5);
}

@keyframes rotate {
  0%{
    transform: rotate(1turn);
  }
}
