.ex-1-square:hover{
  background-color: red;
}

.ex-2-square:active{
  width: 100%;
}

.ex-3-square:hover{
  border-radius: 50%;
}

.ex-4-square:hover{
  opacity: 0;
}

.ex-5-square:hover{
  transform: scale(2);
}

.ex-5-square:active{
  transform: scale(0.5);
}

.ex-6-img:hover, .ex-7-img:hover, .ex-8-img:hover , .ex-9-img:hover{
  filter: grayscale(1);
}

.ex-8-img:hover, .ex-9-img:hover{
  filter: contrast(0.5);
  border-radius: 15px;
}

.ex-9-img:hover{
  transform: scale(1.5);
}

.ex-11-icon:hover{
  animation-name: trequarti;
  animation-duration: 2s;
  animation-iteration-count: 100;
  animation-timing-function: linear;
}

.ex-12-button:hover .ex-12-top-white{
  animation-name: muovitisopra;
  animation-duration: 2s;
  animation-iteration-count: 100;
  animation-timing-function: linear;
}

.ex-12-button:hover .ex-12-bottom-white{
  animation-name: muovitisotto;
  animation-duration: 2s;
  animation-iteration-count: 100;
  animation-timing-function: linear;
}

@keyframes muovitisotto {
  0%{
    right: 10%;
  }

  80%{
    right: calc(100% - 60px);
  }

  100%{
    right: 10%;
  }
}

@keyframes muovitisopra {
  0%{
    left: 10%;
  }

  80%{
    left: calc(100% - 60px);
  }

  100%{
    left: 10%;
  }
}

@keyframes rotate {
  0%{
    transform: rotate(1turn);
  }
}

@keyframes trequarti {
  0%{
    transform: rotate(0);

  }

  80% {
    transform: rotate(320deg);
  }

  100%{
    transform: rotate(0);
  }
}
